
<div class="question">
  <h2>
    You: <%= params[:question] %>
  </h2>
</div>


<div class="answer">
  <h2>
    Your coach: <%= @answer %>
  </h2>
</div>


<div class="backlink">
    <a href="/ask">Ask a new question</a>
</div>
